<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{config.SERVICE_NAME}}{% endblock %}</title>
  <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if g.user.is_authenticated %}
<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}
{%  block body %}
{%  endblock %}
</body>