@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic,900,900italic,400italic,700,300italic,300,100,100italic);

$dark: #002db3;
$light: #009999;
$sans-serif-font: Lato, sans-serif;
*{
  font-family: $sans-serif-font;
}

body {
	background: $dark;
	//background: -webkit-linear-gradient(top left, $dark 0%, $light 100%);
	//background: -moz-linear-gradient(top left, $dark 0%, $light 100%);
	//background: -o-linear-gradient(top left, $dark 0%, $light 100%);
	//background: linear-gradient(to bottom right, $dark 0%, $light 100%);
	color: white !important;

	::-webkit-input-placeholder { /* WebKit browsers */
		font-family: $sans-serif-font;
			color:    white;
		font-weight: 300;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-family: $sans-serif-font;
		 color:    white;
		 opacity:  1;
		font-weight: 300;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-family: $sans-serif-font;
		 color:    white;
		 opacity:  1;
		font-weight: 300;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-family: $sans-serif-font;
		 color:    white;
		font-weight: 300;
	}

	a {
		color: white;
		font-weight: 600;
      text-decoration: none;
		&:hover {
			color: rgba(#FFF, 0.8);
			text-decoration: none;
		}
	}
}

@media (min-width:992px) {
	.col-md-6.left-inline-input {
		padding-right: 5px;
	}
	.col-md-6.right-inline-input {
		padding-left: 5px;
	}
}

button {
		appearance: none;
		outline: 0;
		background-color: white;
		border: 0;
		padding: 10px 15px;
		color: mix($dark, $light);
		border-radius: 3px;
		width: 250px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
		margin: 0 auto 10px auto;
		display: block;
		&:hover{
			background-color: rgb(245, 247, 249);
		}
	}

form {
	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;
		border: 1px solid rgba(255, 255, 255, 0.4);
		background-color: rgba(255, 255, 255, 0.2);
		width: 250px;
		border-radius: 3px;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
		display: block;
		text-align: center;
		font-size: 18px;
		color: #FFF;
		-webkit-transition-duration: 0.25s;
		transition-duration: 0.25s;
		font-weight: 300;
		transition-duration: 0.25s;
		font-weight: 300;
		&.no-expand:focus {
			width: 250px;
		}
		&::selection {
			color: white;
		  background: rgba(mix($dark, $light), 0.75); /* WebKit/Blink Browsers */
		}
		::-moz-selection {
		  background: #000; /* Gecko Browsers */
		}
		@media (min-width:992px) {
			&.double-width {
				width: 525px;

				&:focus {
				width: 525px;
				}
			}


		}
		@media (max-width:992px) {

			&.double-width {
				width: 250px;

				&:focus {
				width: 250px;
				}
			}
		}

		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}

		&:focus {
			background-color: white;
			width: 300px;
			color: $dark;
		}
	}
}

#footer-login {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;

	.container p {
	margin: 20px 0;
	}

}
