$dark: #213e5b;
$hacktx-light: #FFFFFF;
$hacktx-light-red: #dc0925;
$hacktx-red: #FF4115;
$hacktx-light-blue: #7ba8f9;
$sans-serif-font: futura-pt, sans-serif;
$desktop-width: 992px;
$hacktx-gray: #bfbfbf;
