@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700";
.confirmation button {
  display: block; }
  .confirmation button.decision {
    width: 100% !important; }

.accept button {
  background: #5983A0; }
  .accept button.submit {
    background-color: #CB0922; }
    .accept button.submit:hover {
      background-color: #dc0925; }
  .accept button.selected {
    background-color: #CB0922;
    color: white; }

* {
  font-family: Josefin Sans, sans-serif; }

body {
  background: #124e78;
  color: white !important; }
  body .center {
    text-align: center; }
  body ::-webkit-input-placeholder {
    /* WebKit browsers */
    font-family: Josefin Sans, sans-serif;
    color: white;
    font-weight: 300; }
  body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-family: Josefin Sans, sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300; }
  body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-family: Josefin Sans, sans-serif;
    color: white;
    opacity: 1;
    font-weight: 300; }
  body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-family: Josefin Sans, sans-serif;
    color: white;
    font-weight: 300; }
  body .content {
    padding-top: 70px; }
  body a {
    color: white;
    font-weight: 700;
    text-decoration: none; }
    body a.decorate {
      border-bottom: 1px dotted white; }
    body a:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }
  body h1, body h2, body h3 {
    color: #EAF0CE;
    text-shadow: 1.5px 1.5px 1.5px #CB0922; }
  body h4 {
    font-weight: 300; }

@media (min-width: 992px) {
  .col-md-6.left-inline-input {
    padding-right: 5px; }

  .col-md-6.right-inline-input {
    padding-left: 5px; }

  button.confirm {
    float: left; } }
button {
  appearance: none;
  outline: 0;
  background-color: #CB0922;
  border: 0;
  padding: 10px 15px;
  color: #FFFFFF;
  border-radius: 3px;
  width: 250px;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  transition-duration: 0.25s;
  margin: 0 auto 10px auto;
  display: inline; }
  @media (max-width: 1200px) {
    button {
      width: 200px; } }
  @media (max-width: 992px) {
    button {
      display: block;
      margin-right: auto;
      margin-left: auto; } }
  button:hover {
    background-color: #dc0925; }

h1 {
  font-size: 36pt; }

.large-text p {
  font-size: 18pt; }

.top-buffer {
  margin-top: 50px; }

table.info {
  width: 100%;
  margin-bottom: 10px; }
  table.info col:first-child {
    background: rgba(255, 255, 255, 0.3); }
  table.info td {
    height: 35px;
    padding-left: 5px;
    border-bottom: 1pt solid white;
    min-width: 135px; }
    table.info td.no-border {
      border-bottom: none !important; }

.form-info {
  margin-top: 20px; }

form .control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px; }
form .control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }
form .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6; }
form .control--radio .control__indicator {
  border-radius: 50%; }
form .control:hover input ~ .control__indicator {
  background: #ccc; }
form .control input:checked ~ .control__indicator {
  background: #CB0922; }
form .control:hover input:not([disabled]):checked ~ .control__indicator {
  background: #dc0925; }
form .control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none; }
form .control__indicator:after {
  content: '';
  position: absolute;
  display: none; }
form .control input:checked ~ .control__indicator:after {
  display: block; }
form .control--checkbox .control__indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }
form .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }
form .control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff; }
form .control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b; }
form label {
  display: block;
  font-weight: 400;
  font-size: 12pt; }
  form label.title {
    font-size: 24pt; }
form input[type=text], form input[type=number], form textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
  transition-duration: 0.25s;
  font-weight: 300; }
  form input[type=text].no-expand:focus, form input.no-expand[type=number]:focus, form textarea.no-expand:focus {
    width: 250px; }
  form input[type=text]::selection, form input[type=number]::selection, form textarea::selection {
    color: white;
    background: rgba(9, 116, 137, 0.75);
    /* WebKit/Blink Browsers */ }
  form input[type=text] ::-moz-selection, form input[type=number] ::-moz-selection, form textarea ::-moz-selection {
    background: #000;
    /* Gecko Browsers */ }
  @media (min-width: 992px) {
    form input[type=text].double-width, form input.double-width[type=number], form textarea.double-width {
      width: 525px; }
      form input[type=text].double-width:focus, form input.double-width[type=number]:focus, form textarea.double-width:focus {
        width: 525px; } }
  @media (max-width: 992px) {
    form input[type=text].double-width, form input.double-width[type=number], form textarea.double-width {
      width: 250px; }
      form input[type=text].double-width:focus, form input.double-width[type=number]:focus, form textarea.double-width:focus {
        width: 250px; } }
  form input[type=text]:hover, form input[type=number]:hover, form textarea:hover {
    background-color: rgba(255, 255, 255, 0.4); }
  form input[type=text]:focus, form input[type=number]:focus, form textarea:focus {
    background-color: white;
    color: #124e78;
    width: 300px; }
form input[type=number] {
  display: inline;
  width: 100px; }
  form input[type=number]:focus {
    width: 150px; }
form textarea {
  display: inline;
  width: 100%;
  text-align: left;
  color: white; }
  form textarea:focus {
    width: 100%;
    height: 10em; }
form ::-webkit-input-placeholder {
  /* Chrome */
  color: #bfbfbf; }
form :-ms-input-placeholder {
  /* IE 10+ */
  color: #bfbfbf; }
form ::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf;
  opacity: 1; }
form :-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #bfbfbf;
  opacity: 1; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-bottom: 10px; }

.header {
  width: 100%;
  background-color: #5983A0;
  position: fixed;
  min-height: 70px;
  z-index: 99; }
  .header a {
    vertical-align: center;
    font-size: 1.5em;
    line-height: 70px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  /* Set the fixed height of the footer here */
  height: 60px; }
