{% extends 'layouts/admin_base.html' %}
{% block content %}

    <h1>Check In Users</h1>
    <form action="{{ url_for('manual-check-in') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="email" name="email" placeholder="User email" id="email-input">
        <button type="submit" class="confirm">Submit <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
        </button>
    </form>
    <script>
        $(function () {
            $("#email-input").focus();
        });
    </script>
{% endblock content %}
