{% extends 'layouts/admin_base.html' %}
{% block imports %}
    <script src="{{ url_for('static', filename='js/corp-create.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Corporate User Creation</h1>
        <form method="POST" action="">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="fname" placeholder="First Name">
            <input type="text" name="lname" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email Address">
            <button type="submit">Submit</button>
        </form>
        <h3>Unverified Users</h3>
        {% for user in unverified %}
            <div class="row">
                {{ user.fname }} {{ user.lname }}
                <button class="pull-right unverified-user" id="{{ user.email }}">Resend email</button>
            </div>
        {% endfor %}
    </div>
{% endblock %}
