{% extends 'layouts/admin_base.html' %}
{% block content %}
	<div class="container">
		<h1>Waitlisted User(s)</h1>
		{% for user in users %}
			<ul>{{ user.fname }} {{ user.lname }} {{ user.email }}</ul>
		{% endfor %}
		<form action="{{ url_for('reject-users') }}" method="POST">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			<button type="submit" class="confirm">Reject All <i class="fa fa-arrow-circle-o-right"
																aria-hidden="true"></i>
			</button>
		</form>
	</div>
{% endblock content %}
