{% extends 'layouts/head.html' %}
{% block body %}
<section class="content">
  <img class="hacktx-logo img-responsive center-block" src="{{ url_for('static', filename='branding/logo.svg') }}"/>
  <div class="center"><h3>Austin, TX | October 28-29, 2017</h3></div>
  <div class="container">
    <a href="{{ url_for('sign-up') }}"><button class="col-md-2 col-md-offset-3 col-xs-4 col-xs-offset-2 submit text-center register-now title-buttons"><span class="hint--bottom" aria-label="Sign Up">Sign Up</span></button></a>
    <a href="{{ url_for('login') }}"><button class="col-md-2 col-md-offset-2 col-xs-4 col-xs-offset-1 submit text-center register-now title-buttons"><span class="hint--bottom" aria-label="Login">Log In</span></button></a>
  </div>
</section>

<footer class="footer">
  <div class="col-md-6 col-md-offset-3">
    <a href="https://freetailhackers.com"><img class="img-responsive center-block" src="{{ url_for('static', filename='branding/badge.svg') }}" width=50></a>
  </div>
</footer>
{% endblock %}
