{% extends 'emails/application_decisions/base.html' %}
{% block message %}
    <tr>
        <td class="content-block">
            Hey {{ user.fname }},
        </td>
    </tr>
    <tr>
        <td class="content-block">
            We've got great news! A spot opened up at {{ config.EVENT_NAME }} and we'd love to have you join us!
            Since we're so close to the event,
            <strong> we need you to take action to confirm your attendance: </strong>
            <ul>
                <li> Please log onto
                    <a href="{{ config.BASE_URL }}">my{{ config.HACKATHON_NAME }} </a> and accept your invitation. You are <strong>
                    NOT </strong> confirmed until your dashboard says that you are.
                </li>
            </ul>
            You <strong> MUST take action by 11:59PM CT on Thursday, October 18</strong> to confirm your attendance. If you have not taken
            action by then, your invitation will be released to another student. Please note that no exceptions will be made if you
            fail to confirm within the deadline.
        </td>
    </tr>
    <tr>
        <td class="content-block">
            We will be sending another email closer to the hackathon with more details, but for now, feel free to email
            <a href="mailto:{{ config.GENERAL_INFO_EMAIL }}">{{ config.GENERAL_INFO_EMAIL }} </a> if you have any questions. We can't
            wait to see you!
        </td>
    </tr>
    <tr>
        <td class="content-block">
            ♥ Freetail Hackers
        </td>
    </tr>
{% endblock %}