{% extends 'emails/application_decisions/base.html' %}
{% block message %}
    <tr>
        <td class="content-block">
            <p>Hey {{ user.fname }},</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>
                We are so excited to announce that we are recruiting
                new organizers to join our teams! If you are a UT
                Austin student who loves tech, making new friends, and
                is interested in organizing hackathons, please apply
                <a
            href="https://goo.gl/forms/Xn4LS4XKxukMMKUp2">here!</a>
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <strong>Application Details</strong>
            <p>
                Applications are now open and will close February
                17th! (You don't have to be a CS or ECE major to
                join!) We are looking for excited and dedicated
                students who enjoy being part of a team.
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <strong>Available Roles</strong>
            <p>
                Check out this 
                <a
            href="https://docs.google.com/document/d/1E15ivMtpWoWIhqBCPMRut0905ii6DXNXCgJU_6D6yr8/edit?usp=sharing">
            link</a> 
                for more details on the different
                roles we are recruiting for listed below:
            </p>
            <ul>
                <li>Creative Team</li>
                <li>Logistics Team</li>
                <li>Outreach Team</li>
                <li>Technology Team</li>
                <li>Corporate Team</li>
                <li>Innovation Team</li>
            </ul>
            <p>
                WE DO A LOT OF COOL WORK AND WE HAVE A LOT OF FUN
                TOGETHER! JOIN THE FREETAIL FAM ♥ 
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <strong>Recruitment Info Session</strong>
            <p>
                Not sure what we do? Have questions about what being
                an organizer entails? Role specific questions?
            </p>
            <p>
                We will be hosting an organizer
                <a
            href="https://www.facebook.com/events/285442122150832/">
                    info session
                </a> 
                for people interested in joining Freetail TOMORROW
                (Thursday, February 14th) at 6 pm in GDC 6.302.
            </p>
            <p>
                Come through to ask questions and hear what it's like
                to be an organizer!
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <strong>Contact</strong>
            <p>
                If you have any questions, you can check out our 
                <a href="https://www.facebook.com/freetailhackers/">
                    facebook page
                </a> 
                or email us at hello@freetailhackers.com!
            </p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            We are looking forward to meeting you!
        </td>
    </tr>
    <tr>
        <td class="content-block">
            ♥ Freetail Hackers
        </td>
    </tr>
{% endblock %}
