{% extends 'emails/base.html' %}
{% block message %}
    <tr>
      <td class="content-block">
        Hi {{ user.fname }} {{ user.lname }},
      </td>
    </tr>
    <tr>
      <td class="content-block">
        Thank you for taking the time to apply to {{ config.HACKATHON_NAME }}. Your application has been waitlisted.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        Applications for {{ config.HACKATHON_NAME }} are first-come, first-serve for teams and randomized for individuals. This decision is not a reflection of your resume or your experience level. We simply take that information to run our own internal metrics and share your resume with companies who are recruiting. Cross your fingers though! There will be a second round of acceptances on October 17th. If you live in the Austin metro area, we encourage you to try to walk-in on the day of {{ config.HACKATHON_NAME }}, {{ config.EVENT_START }}.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        How do walk-ins work?
      </td>
    </tr>
    <tr>
      <td class="content-block">
        Our check-in for accepted hackers will run from about 10am-noon. If we still have extra spots (last year we had around 100 extra spots), you can try to get in as a waitlisted hacker around noon. An official schedule for walk-ins will come out on our website soon. You can also check our website on October 28, on which we will have a banner that states whether we have space for waitlisted hackers. This way, you won’t need to head all the way down to the Omni.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        If you have any questions, feel free to reply to this email.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        Thanks for applying!
      </td>
    </tr>
    <tr>
      <td class="content-block">
        &lt;3 Freetail Hackers
      </td>
    </tr>
{% endblock %}
