{% extends 'emails/application_decisions/base.html' %}
{% block message %}
    <tr>
      <td class="content-block">
        Hey {{ user.fname }},
      </td>
    </tr>
    <tr>
      <td class="content-block">
        Thank you for taking the time to apply to {{ config.EVENT_NAME }}. Unfortunately, we had many more applicants than we have 
        space for, and we are unable to offer you a spot for this year. However, we're still hoping that we can fit you in, so we 
        have made you eligible for our <strong>day-of waitlist</strong>.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        This decision is not a reflection of your resume or your experience level. While wish we could accept everyone who applied, 
        there's a limited amount of space and it wouldn't be fun for anyone if it got too crowded. But there's still hope - on 
        {{ config.EVENT_START }}, we will be announcing whether we still have spots open for {{ config.EVENT_NAME }} <strong>after 
        accepted attendee check-in closes at noon. </strong> If so, then we will begin taking walk-ins at this time. Keep an eye out 
        for an announcement on our website (via a banner), via our social media, or email!
      </td>
    </tr>
    <tr>
      <td class="content-block">
        If you are local to Austin, TX, we would be delighted to have you join us as a volunteer or mentor. If you are interested in
        serving in either capacity, please fill out <a href="https://goo.gl/forms/4enbcuIAD8MTOkpn2">this form</a> and we'll get
        back to you soon.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        Thanks again for your interest! We would love to see you apply again next year, but in the meantime, we highly encourage you 
        to continue learning and creating amazing things.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        ♥ Freetail Hackers
      </td>
    </tr>
{% endblock %}
