{% extends 'emails/application_decisions/base.html' %}
{% block message %}
    <tr>
      <td class="content-block">
        Hey {{ user.fname }},
      </td>
    </tr>
    <tr>
      <td class="content-block">
        Thank you for taking the time to apply to {{ config.EVENT_NAME }}. Unfortunately, we had many more applicants
        than we have space for and we are unable to offer you a spot at this moment. However, there is still a chance
        we can find space for you. Acceptances are released in waves, so we will let you know in the coming weeks in case a spot opens up.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        This decision is not a reflection of your resume or your experience level. While we wish we could accept everyone who applied,
            there's a limited amount of space and it wouldn't be fun for anyone if it got too crowded.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        If you are local to Austin, TX or in a nearby city, we would also be delighted to have you join us as a volunteer or mentor. If you are interested in
        serving in either capacity, please fill out <a href="https://goo.gl/forms/4enbcuIAD8MTOkpn2">this form</a> and we'll get
        back to you soon.
      </td>
    </tr>
    <tr>
      <td class="content-block">
        ♥ Freetail Hackers
      </td>
    </tr>
{% endblock %}
