{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
Login page for corporate
<form action="" method="post">
    <div class="form-group">
        <input type="email" id="email" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <input type="password" id="password"name="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <button type="submit">Sign in</button>
    </div>
</form>