{% extends 'layouts/base.html' %}

{% block content %}
<div class="center col-md-6 col-md-offset-3">
  <div class="login-logo">
    <img src="{{ url_for('static', filename='branding/logo.png') }}" height=80>
  </div>
  <h2>Sign up for {{ config.HACKATHON_NAME }}!</h2>
  <form action="" method="post">
    <input type="text" placeholder="First Name" name="fname" required>
    <input type="text" placeholder="Last Name" name="lname" required>
    <input type="email" placeholder="Email" name="email" required>
    <input type="password" placeholder="Password" name="password" required>
    <div class="form-group">
      <button type="submit">Sign up</button>
    </div>
  </form>
  <a href="{{ url_for('login') }}"><p>Already have an account?</p></a>
</div>
{% endblock %}
