{% extends 'layouts/user_base.html' %}
{% block content %}
    <script src="{{ url_for('static', filename='js/pending.js') }}"></script>
    {% if user.confirmed %}
    <div class="text-center col-md-8 col-md-offset-2">
        <h1>Thanks for applying to {{ config.HACKATHON_NAME }}, {{ user.fname }}!</h1>
        <div class="large-text">
            {% if user.status == 'PENDING' %}
                <p>We'll get back to you with more information about your application in the coming weeks!</p>
                {% if user.team_id is none %}
                    <p>In the mean time, you can join your friends to be considered as a team in the
                        <a href="{{ url_for('team') }}" class="decorate">Manage Team</a> tab.</p>
                {% endif %}
                <p>You should receive an email that confirms your registration. Email
                    <a href="mailto:{{ config.GENERAL_INFO_EMAIL }}" class="decorate">{{ config.GENERAL_INFO_EMAIL }}</a>
                    if you have any questions and here's a cute
                    GIF just because.</p>
                <img src="{{ url_for('static', filename='img/puppy.gif') }}" class="puppy">
{#			Page only runs when status is pending or late, and so else is only hit if status is late #}
            {% else %}
                <p>Unfortunately, you have registered too late for regular acceptance into {{ config.HACKATHON_NAME }}. 
                    We encourage you to solve some of our puzzles <a href="http://puzzles.hacktx.com/">here.</a>
                </p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="text-center col-md-8 col-md-offset-2 large-text">
        <h1>Almost there!</h1>
                <script>
            $(function () {
                $('#resend-confirmation-link').click(function (e) {
                    var url = "{{ url_for('resend-confirmation-email') }}";
                    $.ajax({
                        method: "POST",
                        url: url,
                        data: {
                            email: "{{ user.email }}"
                        },
                        success: function (data) {
                            toastr[data.category](data.message);
                        },
                        error: function () {
                            toastr['error']('An unexpected error occurred. Please refresh your cache and try again.');
                        },
                        dataType: "json",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}");
                        },
                    });
                    return false;
                });
            });
        </script>
        <div class="alert alert-danger" id="alert-banner">
            <div class="center">
                <strong>To complete your application, you need to confirm your email address.</strong> If you can't find the email, you can resend it
                by clicking <a href="#" id="resend-confirmation-link" class="alert-link">here</a>.
            </div>
        </div>
        <p>We'll be waiting!</p>
        <img src="{{ url_for('static', filename='img/puppy_waiting.gif') }}">
    </div>
    {% endif %}

{% endblock %}
