{% extends 'layouts/base.html' %}
{% block nav_items %}
    {{ nav_item('Home', 'admin-dash') }}
    {{ nav_item('Batch Users', 'batch-modify') }}
    {{ nav_item('Modify Users', 'modify-users') }}
    {{ nav_item('Reject Users', 'reject-users') }}
    {{ nav_item('Debug User', 'debug-user') }}
    {{ nav_item('Send Emails', 'send-email') }}
    {{ nav_item('Volunteer List', 'volunteer-list') }}
    {{ nav_item('Manual Check-in', 'manual-check-in') }}
    {{ nav_item('Create Corporate User', 'create-corp') }}
    {{ nav_item('Set MLH ID', 'set-mlh-id') }}
{% endblock %}
