{% extends 'layouts/head.html' %}
{% block body %}
	<noscript>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
					{% for message in messages %}
						<li>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endwith %}
	</noscript>
	{% if g.user.is_authenticated %}
		<nav class="header">
			<div class="container">
				<div class="col-md-3 col-md-offset-5 col-xs-3">
					<a href="https://my.hacktx.com"><img src="{{ url_for('static', filename='branding/logo.png') }}"
													  height="60"></a></div>
				<a href="{{ url_for('logout') }}" class="pull-right">Logout</a>
			</div>
		</nav>
	{% endif %}

	<div class="container">

		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</div>

	<footer class="footer">
		<div class="col-md-6 col-md-offset-3">
			<a href="https://freetailhackers.com"><img class="img-responsive center-block"
													   src="{{ url_for('static', filename='branding/badge.svg') }}"
													   width=50></a>
						<p class="center">Interested in how this works? HackTX proudly open sourced <a href="https://github.com/rohitdatta/pepper" class="decorate">Pepper</a> for you to use at your own hackathon.</p>
		</div>
	</footer>
{% endblock body %}