{% extends 'layouts/user_base.html' %}
{% block content %}
<!-- team.html -->
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/validate.js') }}"></script>

<!-- Show information for people who already have a team -->
<h1 class="center">Team</h1>
<p class="center large-text">{{ team.tname }}</p>
<h1 class="center">Teammates</h1>
{% for user in team.users|sort(attribute='time_team_join') %}
<div class="center">
	{% if user.is_leader %}
	<p>{{ user.fname }} {{ user.lname }} ({{ user.email }}) - <b>Team Leader</b></p>
	{% else %}
	<p>{{ user.fname }} {{ user.lname }} ({{ user.email }})</p>
	{% endif %}
</div>
{% endfor %}
<div class="spacing"></div>

<!-- Contains rename and leave team buttons -->
{% if current_user.is_leader %}
<div class="center">
  <form method="POST" action="team" id="rename">
    <input type="text" placeholder="Rename team" name="rename_tname">
    <button type="submit" name="button" value="rename">Rename</button>
  </form>
</div>

<div class="spacing"></div>
{% endif %}

<div class="center">
  <form method="POST" action="team" id="leave">
    <button type="submit" name="button" value="leave">Leave Team</button>
  </form>
</div>
{% endblock %}
